# Operating System Files
.DS_Store
Thumbs.db

# Build Artifacts
/build/
/dist/
*.o
*.exe

# Dependencies
node_modules

# Environment Variables
.env

# Logs and Temporary Files
logs/
*.log
*.tmp

# Editor/IDE specific files
.vscode/
.idea/